# Файлы для игнорирования системой контроля версий Git

# Зависимости
# Эта папка содержит все установленные пакеты. Она может весить сотни мегабайт,
# и её легко восстановить командой `npm install` или `yarn`.
/node_modules

# Сборка проекта
# Папка, в которую Vite собирает готовую для продакшена версию твоего приложения.
/dist
/dev-dist

# Лог-файлы
# Файлы журналов, которые могут создаваться менеджерами пакетов при ошибках.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Переменные окружения
# Эти файлы содержат секретные ключи, пароли и другие чувствительные данные.
# Их никогда нельзя добавлять в репозиторий.
# Вместо этого создай файл `.env.example` с перечислением нужных переменных без их значений.
.env
.env.local
.env.*.local

# Кэш и временные файлы инструментов
.vite/
.eslintcache

# Файлы для инкрементальной сборки TypeScript
*.tsbuildinfo

# Файлы IDE и редакторов кода
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системные файлы, создаваемые операционной системой
.DS_Store
Thumbs.db
